{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3>Проект: {{ project.name }}</h3>
    <div>Составить расписание</div>
    <form class="genetic-algorithm-form" action="{% url 'schedule:ga' %}" method='post'>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ project.id }}">
        <input type="submit" value="Генетический алгорим">
    </form>
    <form class="branch-and-bound-algorithm-form" action="{% url 'schedule:branch_and_bound' %}" method='post'>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ project.id }}">
        <input type="submit" value="Метод ветвей и границ">
        <div class="statistic"></div>
    </form>
    <div class="statistic"></div>
{% endblock %}

{% block body_js %}
    <script src="{% static 'core/js/libs/highcharts.js' %}"></script>
    <script src="{% static 'scheduling/js/project.js' %}"></script>
{% endblock %}