{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h3>Регистрация</h3>
        <form id="js-reg-form" class="form-horizontal" action="{% url 'core:register' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
                    <div class="col-3">
                        {{ field }}
                        <div class="form-{{ field.name }}-error form-control-feedback"></div>
                    </div>
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <h6 class="js-reg-success hidden">Регистрация прошла успешно, на укзанный адрес отправлено письмо с активацией</h6>
    </div>
{% endblock %}

{% block body_js %}
    <script src="{% static 'core/js/register.js' %}"></script>
{% endblock %}